<body class="nk-body body-wider bg-light mode-onepage">
<div class="nk-wrap">
    <header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
			<div class="header-banner bg-theme-grad">
				<div class="nk-banner">
				    <div class="banner banner-fs banner-single banner-gap-b2">
				        <div class="banner-wrap">
                            <div class="container">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-lg-5 order-lg-last">
                                        <!--<div class="banner-gfx animated" data-animate="fadeInUp" data-delay=".9">
                                            <img src="images/header/gfx-a.png" alt="header">
                                        </div>-->
                                    </div><!-- .col -->
                                    <div class="col-lg-7 col-sm-10 text-center text-lg-left">
                                        <div class="banner-caption cpn tc-light">
                                            <div class="cpn-head">
                                                <h1 class="title animated" data-animate="fadeInUp" data-delay="1">Your only and true Multi-Cloud Partner</h1>
                                            </div>
                                            <div class="cpn-text">
                                                <p class="animated" data-animate="fadeInUp" data-delay="1.1">Our revolutionary Meta Configuration Manager is designed to help companies in their journey to manage multiple Cloud providers.</p>
                                            </div>
                                            <div class="cpn-action">
                                                <div class="cpn-btns animated" data-animate="fadeInUp" data-delay="1.2">
                                                    <a class="btn btn-grad" href="#">Buy Your Ticket to Cloud Heaven</a>
                                                </div>
                                                <!--<ul class="cpn-links animated" data-animate="fadeInUp" data-delay="1.3">
                                                    <li><a class="link" href="#"><em class="link-icon far fa-lightbulb"></em>How to Buy</a></li>
                                                    <li><a class="link" href="#"><em class="link-icon fas fa-file-alt"></em>White Paper</a></li>
                                                </ul>-->
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                </div><!-- .row -->
                            </div>
                        </div>
				    </div>
				</div><!-- .nk-banner -->
				<div class="nk-ovm mask-a shape-f"></div>
				<!-- Place Particle Js -->
				<div id="particles-bg" class="particles-container particles-bg"></div>
    </div>
    </header>
    <main class="nk-pages">
        <section class="section no-pd text-center over-up">
            <h6 class="title title-xs tc-secondary pdb-s animated" data-animate="fadeInUp" data-delay=".8">Energon Rating</h6>
            <ul class="rank-list">
                <li class="rank-item animated" data-animate="fadeInUp" data-delay=".9">
                    <img src="../../../assets/images/logo/a.png" alt="">
                    <div class="rank-count">4.7 <span>/5</span></div>
                </li>
                <li class="rank-item animated" data-animate="fadeInUp" data-delay="1">
                    <img src="../../../assets/images/logo/b.png" alt="">
                    <div class="rank-count">A</div>
                </li>
                <li class="rank-item animated" data-animate="fadeInUp" data-delay="1.1">
                    <img src="../../../assets/images/logo/c.png" alt="">
                    <div class="rank-count">9.4 <span>/10</span></div>
                </li>
                <li class="rank-item animated" data-animate="fadeInUp" data-delay="1.2">
                    <img src="../../../assets/images/logo/d.png" alt="">
                    <div class="rank-count">4.9 <span>/5</span></div>
                </li>
                <li class="rank-item animated" data-animate="fadeInUp" data-delay="1.3">
                    <img src="../../../assets/images/logo/e.png" alt="">
                    <div class="rank-count">5 <span>/5</span></div>
                </li>
            </ul>
        </section>
        <!-- // -->
        <section class="section bg-light section-l section-about" id="about">
            <div class="container">
                <!-- Block @s -->
                <div class="nk-block nk-block-about">
                    <div class="row gutter-vr-30px align-items-center pdb-l">
                        <div class="col-lg-6">
                            <div class="nk-block-text">
                                <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">About Energon</h2>
                                <p class="animated" data-animate="fadeInUp" data-delay=".2"><strong>Started as a family company where it's members are not family and neither they care about other members.</strong>. But what they share in common is the experience of surviving the "Digital Transformation". </p>
                                <p class="animated" data-animate="fadeInUp" data-delay=".3">The point after you are done (or almost) successfully with your first migration from On-premise to your favorite Cloud provider, you enter the "Advance Digital Transformation". </p>
                                <p class="animated" data-animate="fadeInUp" data-delay=".4">A Cloud is not 100% perfect, and we know it, we pass through that. Doing the same but with multiple Cloud providers it's not easy. This is when ENERGON begins. </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="nk-block-video animated" data-animate="fadeInUp" data-delay=".5">
                                <img src="../../../assets/images/video/a.png" alt="video">
                                <a href="https://youtu.be/whXvQmm_O-c" class="nk-block-video-play btn-play btn-play-light"><fa-icon [icon]="faplay"></fa-icon></a>
                                <!--<a href="https://www.youtube.com/watch?v=MHWBEK8w_YY" class="nk-block-video-play video-popup btn-play btn-play-light"><em class="fas fa-play"></em></a>-->

                            </div>
                        </div>
                    </div>
                </div><!-- .block @e -->
                <!-- Section Head @s -->
                <div class="section-head">
                    <h2 class="title title-lg animated" data-animate="fadeInUp" data-delay=".6">Key features of MCM</h2>
                </div><!-- .section-head @e -->
                <!-- Block @s -->
                <div class="nk-block nk-block-features mgb-m30">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="feature animated" data-animate="fadeInUp" data-delay=".7">
                                <div class="feature-icon dot" style="size: 300px;">
                                    <fa-icon [icon]="faGlobeAmericas" ></fa-icon>
                                </div>
                                <div class="feature-text">
                                    <h5 class="title title-sm">Create a secure decentralize</h5>
                                    <p>Not just a single Cloud to put all of your eggs.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="feature animated" data-animate="fadeInUp" data-delay=".8">
                                <div class="feature-icon dot">
                                    <fa-icon [icon]="faatom"></fa-icon>
                                </div>
                                <div class="feature-text">
                                    <h5 class="title title-sm">Solving small business problems</h5>
                                    <p>Price for Cloud freedom doesn't have to be an impediment. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="feature animated" data-animate="fadeInUp" data-delay=".9">
                                <div class="feature-icon dot">
                                    <fa-icon [icon]="faFileInvoiceDollar"></fa-icon>
                                </div>
                                <div class="feature-text">
                                    <h5 class="title title-sm">Infrastructe as code </h5>
                                    <p>Readable and elegant definition.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .block @s -->
            </div>

        </section>
        <!-- // -->
        <section class="section section-l tc-light bg-theme-grad" id="admin-intro">

            <div class="container">
                <!-- Block @s -->
                <div class="nk-block nk-block-text-wrap">
                    <div class="row align-items-center">
                        <div class="col-lg-7 order-lg-last">
                            <div class="nk-block-img edge-r1 pb-4 pb-lg-0 animated" data-animate="fadeInUp" data-delay=".1">
                                <img src="../../../assets/images/logo/energon_white.png" alt="app">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="nk-block-text">
                                <h6 class="title title-xs tc-primary animated" data-animate="fadeInUp" data-delay=".1">Admin Dashboard</h6>
                                <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">Introducing Complete Clientless</h2>
                                <p class="animated" data-animate="fadeInUp" data-delay=".3">We don't believe on clients (at application layer)</p>
                                <ul class="list list-check animated" data-animate="fadeInUp" data-delay=".4">
                                    <li>Supports Orchestration Manager.</li>
                                    <li>Supports Configuration Manager.</li>
                                    <li>Open Source.</li>
                                    <li>4Dimension approach.</li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .block @e -->
            </div>

        </section>
        <!-- // -->
        <section class="section section-l section-problem bg-light" id="problem">

            <div class="container">
                <!-- Section Head @s -->
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">Problem and Challenge</h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".2">We are creating modular software, apps blockchain based accusamus et eiusto odio dignimus qui blan ditiis praes entium volup tatun.</p>
                </div><!-- .section-head @e -->
                <!-- Block @s -->
                <div class="nk-block nk-block-problems tc-light">
                    <div class="row no-gutters align-items-center">
                        <div class="col-lg-6">
                            <div class="feature boxed boxed-lg bg-theme no-mg split-lg-left split-left animated" data-animate="fadeInUp" data-delay=".3">
                                <h4 class="title title-md">Automation Development</h4>
                                <p>The automation development provides rem aperiam, et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit molestiae illum qui dolorem eum.</p>
                                <ul class="list list-dot">
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                                    <li>Wende omnis iste natus error sit volupt.</li>
                                    <li>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                    <li>Exercitation ullamco laboris nisi ut consequ.</li>
                                </ul>
                            </div>
                        </div><!-- .col -->
                        <div class="col-lg-6">
                            <div class="feature-group bg-theme-alt split-right split-lg animated" data-animate="fadeInUp" data-delay=".4">
                                <div class="feature boxed bg-white-10">
                                    <div class="feature-text">
                                        <h4 class="title title-md">High transfer fees</h4>
                                        <p>Each year over than 200$ bilion fees rem aperiam, et quasi arch itecto beatae vitae dicta sunt explicabo. Voluptas sit aspernatur aut odit aut fugit molestiae illum qui dolorem eum.</p>
                                    </div>
                                </div>
                                <div class="feature boxed bg-white-2">
                                    <div class="feature-text">
                                        <h4 class="title title-md">Scaling and Absolete Tool</h4>
                                        <p>Scalling is biggest problem that comes rem aperiam, et quasi arch itecto beatae vitae dicta sunt explicabo. Voluptas sit aspern odit aut fugit illum qui dolorem eum.</p>
                                    </div>
                                </div>
                                <div class="feature boxed bg-black-10">
                                    <div class="feature-text">
                                        <h4 class="title title-md">Secure Networks &amp; Flexibility</h4>
                                        <p>Security is most concern for long rem aperiam, et quasi arch itecto beatae vitae  aspernatur aut odit aut fugit molestiae illum qui dolorem ullamco laboris nisi volupt natus.</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .block @e -->
            </div>

        </section>
        <!-- // -->
        <section class="section section-l section-solution bg-light pt-0" id="solution">

            <div class="container">
                <!-- Section Head @s -->
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">Solutions</h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".2">We are creating modular software, apps blockchain based accusamus et eiusto odio dignimus qui blan ditiis praes entium volup tatun.</p>
                </div><!-- .section-head @e -->
                <!-- Block @s -->
                <div class="nk-block nk-block-features-3 mgb-m40 mgt-m20">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-10">
                            <div class="feature feature-3 feature-center animated" data-animate="fadeInUp" data-delay=".3">
                                <div class="feature-icon">
                                    <fa-icon [icon]="faCloudMeatball" ></fa-icon>
                                </div>
                                <div class="feature-text">
                                    <h4 class="title title-md title-dark">Global Single-Platform:</h4>
                                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid eos qui ratione</p>
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="col-lg-6 col-md-10">
                            <div class="feature feature-3 feature-center animated" data-animate="fadeInUp" data-delay=".4">
                                <div class="feature-icon">
                                    <em class="icon icon-lg ikon ikon-safety"></em>
                                </div>
                                <div class="feature-text">
                                    <h4 class="title title-md title-dark">Be Safe and Secure:</h4>
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia agni dolores eos qui ratione voluptatem sequi</p>
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="col-lg-6 col-md-10">
                            <div class="feature feature-3 feature-center animated" data-animate="fadeInUp" data-delay=".5">
                                <div class="feature-icon">
                                    <em class="icon icon-lg ikon ikon-cash"></em>
                                </div>
                                <div class="feature-text">
                                    <h4 class="title title-md title-dark">Decentralize Payment Systems</h4>
                                    <p>Empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  ullamco laboris fugiat nulla sed do</p>
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="col-lg-6 col-md-10">
                            <div class="feature feature-3 feature-center animated" data-animate="fadeInUp" data-delay=".6">
                                <div class="feature-icon">
                                    <em class="icon icon-lg ikon ikon-globe"></em>
                                </div>
                                <div class="feature-text">
                                    <h4 class="title title-md title-dark">Blockchain Based DevOps Marketplace</h4>
                                    <p>Ut enim ad minim veniam, quis nostrud  ullamco laboris fugiat nulla sed do eiusmod. Empor incididunt ut labore et dolore magna</p>
                                </div>
                            </div>
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .block @e -->
            </div>

        </section>
        <!-- // -->
        <section class="section section-l section-faq bg-white" id="faq">
            
            <div class="container">
                <!-- Section Head @s -->
                <div class="section-head text-center wide-auto">
                    <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">FAQs</h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".2">Below we’ve provided a bit of Digital Transformation. If you have any other questions, please get in touch via email.</p>
                </div><!-- .section-head @e -->
                <!-- Block @s -->
                <div class="nk-block block-faq">
                    <div class="row">
                        <div class="col-md-4 col-lg-3 mb-4 mb-lg-0">
                            <ul class="nav tab-nav tab-nav-vr tab-nav-bdr mr-lg-3 animated" data-animate="fadeInUp" data-delay=".3">
                                <li><a class="active" data-toggle="tab" href="#general-questions"><fa-icon [icon]="faChevronRight"></fa-icon>General Questions</a></li>
                                <li><a data-toggle="tab" href="#ico-questions"><fa-icon [icon]="faChevronRight"></fa-icon>Energon Questions</a></li>
                                <li><a data-toggle="tab" href="#tokens-sales"><fa-icon [icon]="faChevronRight"></fa-icon>Enerbot Sales</a></li>
                                <li><a data-toggle="tab" href="#clients-releted"><fa-icon [icon]="faChevronRight"></fa-icon>Clients Releted</a></li>
                            </ul>
                        </div><!-- .col -->
                        <div class="col-md-8 col-lg-9">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="general-questions">
                                    <div class="accordion accordion-faq" id="faq-1">
                                        <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".1">
                                            <h5 class="accordion-title accordion-title-sm" data-toggle="collapse" data-target="#faq-1-1">What is Energon? <fa-icon [icon]="faCircle" class="accordion-icon"></fa-icon></h5>
                                            <div id="faq-1-1" class="collapse show" data-parent="#faq-1">
                                                <div class="accordion-content">
                                                    <p>A company that use unicron development.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".2">
                                            <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-1-2">What can it do for me? <fa-icon [icon]="faCircle" class="accordion-icon"></fa-icon></h5>
                                            <div id="faq-1-2" class="collapse" data-parent="#faq-1">
                                                <div class="accordion-content">
                                                    <p>Everything.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".3">
                                            <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-1-3">How can I participate in the ICO Token sale? <fa-icon [icon]="faCircle" class="accordion-icon"></fa-icon></h5>
                                            <div id="faq-1-3" class="collapse" data-parent="#faq-1">
                                                <div class="accordion-content">
                                                    <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".4">
                                            <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-1-4">How do I benefit from the ICO Token? <fa-icon [icon]="faCircle" class="accordion-icon"></fa-icon></h5>
                                            <div id="faq-1-4" class="collapse" data-parent="#faq-1">
                                                <div class="accordion-content">
                                                    <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="ico-questions">
                                    <div class="accordion accordion-faq" id="faq-2">
                                        <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".1">
                                            <h5 class="accordion-title accordion-title-sm" data-toggle="collapse" data-target="#faq-2-1">Which of us ever undertakes laborious?<fa-icon [icon]="faCircle" class="accordion-icon"></fa-icon></h5>
                                            <div id="faq-2-1" class="collapse show" data-parent="#faq-2">
                                                <div class="accordion-content">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".2">
                                            <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-2-2">Who do not know how to pursue rationally?<fa-icon [icon]="faCircle" class="accordion-icon"></fa-icon></h5>
                                            <div id="faq-2-2" class="collapse" data-parent="#faq-2">
                                                <div class="accordion-content">
                                                    <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".3">
                                            <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-2-3">Their separate existence is a myth?<fa-icon [icon]="faCircle" class="accordion-icon"></fa-icon></h5>
                                            <div id="faq-2-3" class="collapse" data-parent="#faq-2">
                                                <div class="accordion-content">
                                                    <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".4">
                                            <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-2-4">Pityful a rethoric question ran over her cheek?<fa-icon [icon]="faCircle" class="accordion-icon"></fa-icon></h5>
                                            <div id="faq-2-4" class="collapse" data-parent="#faq-2">
                                                <div class="accordion-content">
                                                    <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tokens-sales">
                                    <div class="accordion accordion-faq" id="faq-3">
                                        <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".1">
                                            <h5 class="accordion-title accordion-title-sm" data-toggle="collapse" data-target="#faq-3-1">When she reached the first hills?<fa-icon [icon]="faCircle" class="accordion-icon"></fa-icon></h5>
                                            <div id="faq-3-1" class="collapse show" data-parent="#faq-3">
                                                <div class="accordion-content">
                                                    <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".2">
                                            <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-3-2">Big Oxmox advised her not to do?<fa-icon [icon]="faCircle" class="accordion-icon"></fa-icon></h5>
                                            <div id="faq-3-2" class="collapse" data-parent="#faq-3">
                                                <div class="accordion-content">
                                                    <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".3">
                                            <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-3-3">Which roasted parts of sentences fly into your mouth?<fa-icon [icon]="faCircle" class="accordion-icon"></fa-icon></h5>
                                            <div id="faq-3-3" class="collapse" data-parent="#faq-3">
                                                <div class="accordion-content">
                                                    <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".4">
                                            <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-3-4">Vokalia and Consonantia, there live?<fa-icon [icon]="faCircle" class="accordion-icon"></fa-icon></h5>
                                            <div id="faq-3-4" class="collapse" data-parent="#faq-3">
                                                <div class="accordion-content">
                                                    <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="clients-releted">
                                    <div class="accordion accordion-faq" id="faq-4">
                                        <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".1">
                                            <h5 class="accordion-title accordion-title-sm" data-toggle="collapse" data-target="#faq-4-1">How do I benefit from the ICO Token?<fa-icon [icon]="faCircle" class="accordion-icon"></fa-icon></h5>
                                            <div id="faq-4-1" class="collapse show" data-parent="#faq-4">
                                                <div class="accordion-content">
                                                    <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".2">
                                            <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-4-2">Pityful a rethoric question ran over her cheek?<fa-icon [icon]="faCircle" class="accordion-icon"></fa-icon></h5>
                                            <div id="faq-4-2" class="collapse" data-parent="#faq-4">
                                                <div class="accordion-content">
                                                    <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".3">
                                            <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-4-3">Vokalia and Consonantia, there live?<fa-icon [icon]="faCircle" class="accordion-icon"></fa-icon></h5>
                                            <div id="faq-4-3" class="collapse" data-parent="#faq-4">
                                                <div class="accordion-content">
                                                    <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".4">
                                            <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-4-4">Who do not know how to pursue rationally?<fa-icon [icon]="faCircle" class="accordion-icon"></fa-icon></h5>
                                            <div id="faq-4-4" class="collapse" data-parent="#faq-4">
                                                <div class="accordion-content">
                                                    <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .block @e -->
            </div>

        </section>
        <!-- // -->
        <section class="section section-m section-partners bg-light" id="partners">

            <div class="container">
                <!-- Block @s -->
                <div class="nk-block block-partners">
                    <h6 class="title title-xs tc-primary text-center animated" data-animate="fadeInUp" data-delay=".1">Join the Future</h6>
                </div>
                <!-- Block @e -->
            </div>

        </section>
    </main>
</div>
</body>
      
